.col-md-8 {
    color: #fff;
}

.session-box {
    border: 2px solid red;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.2s;
}

.session-box:hover {
    transform: scale(1.05);
    background-color: #ffe6e6;
}

.col-md-4 img {
    width: 400px; /* Largura maior para pôster */
    height: 600px; /* Altura proporcional */
    object-fit: cover; /* Preenche o espaço sem distorcer a imagem */
    border-radius: 10px; /* Opcional: bordas arredondadas */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Destaque com sombra */
}
