.col-md-8 {
    color: #fff;
}

.session-box {
    border: 2px solid red;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.2s;
}

.session-box:hover {
    transform: scale(1.05);
    background-color: #ffe6e6;
}
